<h1> Some stupid answer from the Coach</h1>

<%= params[:question]%>

<% if params[:question] == "I am going to work" %>
	<p><%= "Great!" %></p>
<% elsif params[:question].ends_with?("?")%>
	<p><%= "Silly question, get dressed and go to work"%></p>
<% else %>
	<p><%= "I don't care, get dressed and go to work!"%></p>
<% end%>