<h1> some question with a form</h1>

<form action="/answer" method="get">
  <input type="text" name="question" value="<%= params[:question] %>" placeholder="what do you want to say to your coach?">
  <input type="submit" value="Ask!">
</form>